.newsTemplate {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
.newHeader {
  margin-left: 60px;
}
.paginationBtn {
  display: flex;
  justify-content: space-between;
}

.badgeDesign {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0px;
}
